{% extends 'base.html' %}

{% block title %}Log In{% end %}
{% block description %}Log into your account!{% end %}
{% block bodytag %}login{% end %}

{% block body %}
  <div class="container custom-container">
    <div class="va-wrapper">
      <div class="view login-view container">
        <div class="box row">
          <div class="email-password-area col-xs-12 large col-sm-12">
            <div class="header">
              <span>Log In or </span>
              <a>Create an Account</a>
            </div>
            <form class="login-form form-horizontal" role="form" method="post">
              {% module xsrf_form_html() %}
              <div class="form-group group-email">
                <label class="col-sm-4">
                  Email
                </label>
                <div class="col-sm-8">
                    {% raw form.email(
                      autofocus='True',
                      placeholder='Email',
                      required='True'
                     ) %}
                </div>
              </div>
              <div class="form-group group-password">
                <label class="col-sm-4">Password</label>
                <div class="col-sm-8">
                    {% raw form.password(
                        placeholder='Password',
                        required='true'
                    )%}
                </div>
              </div>
              <div>
                <button class="login btn btn-login btn-sp-green" type="submit">Log In</button>
              </div>
            </form>
          </div>

        </div>
        <a class="forgot" href="">Forgot Password?</a>
      </div>
    </div>
  </div>
{% end %}
